.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .shad{
  box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.25);

 }

 .fix-input{
  border-radius: 8px;
border: 1px solid #0B0E42;
background: #FFF;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.10), 2px 4px 6px 0px rgba(0, 0, 0, 0.05) inset;
 }

 .fix-btn{
  border-radius: 26px;

box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.15);
 }

 .fix-text{

font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }

 .succToast{
  border-radius: 22px;
opacity: 0.75;
background: #7ED06A;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.10);
 }

 .failToast{
  border-radius: 22px;
opacity: 0.75;
background: #DF4343;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.10);
 }